<form action="/memos/<%= @memo["id"] %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title" value="<%= @memo["title"] %>" autocomplete="off">
  </div>
  <div>
    <label for="content">メモ</label>
    <textarea name="content" id="content" rows="5"><%= h(@memo["content"]) %></textarea>
  </div>
  <button type="submit">保存</button>
</form>
<a href="/memos" class="back-link">トップページに戻る</a>
